@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(0, 0, 0) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.heading-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), 
              -2px -2px 4px rgba(0,0,0,0.8), 
              2px -2px 4px rgba(0,0,0,0.8), 
              -2px 2px 4px rgba(0,0,0,0.8);
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8), 
              -1px -1px 3px rgba(0,0,0,0.8);
}

.blue-gradient-text {
  background: linear-gradient(to right, #79DEFC, #4895EF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}


.blue-gradient-bg {
  background: linear-gradient(to right, #4895EF, #4895EF);
}
